<div class="p-20 flex flex-items bg-purple-100 w-full" >
  <app-card *ngFor="let item of news" [infoCard]="item"></app-card>
</div>

<div class="p-20 form">
  <form class="flex flex-col" [formGroup]="newsForm" (ngSubmit)="saveNewCard()">
    <label class="mb-4">
      Nombre:
      <input type="text" formControlName="title" required class="border border-gray-light p-2 ">
    </label>
  
    <label class="mb-4">
      Descripción:
      <input type="text" formControlName="description" class="border border-gray-light p-2">
    </label>
  
    <label class="mb-4">
      Url de la imagen:
      <input type="text" formControlName="url" class="border border-gray-light p-2">
    </label>
  
    <button type="submit" [disabled]="!newsForm.valid" class="bg-yellow text-white px-4 py-2 rounded" >Submit</button>
  </form>  
</div>